<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example_Site</title>
</head>
<body>
<h1>Example Site</h1>
<p>This file would actually get copied along with your templates' dir structure.</p>
<p>So any starter files you choose to have in the templates folder will be added to your new project.</p>
<p>This is useful for example to prelink html,css and javascript files.</p>
</body>
<script src="index.js"></script>
</html>